<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trending</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
      <ion-list>

        <ion-item>
          <ion-row>
            <ion-col size="3">
              <img width="100%" src="assets/gggg.jpg">
            </ion-col>
            <ion-col size="9">
              <ion-text>
               Harga sembako melambung tinggi dampak dari Covid-19
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item>
          <ion-row>
            <ion-col size="3">
              <img width="100%" src="assets/gggg.jpg">
            </ion-col>
            <ion-col size="9">
              <ion-text>
               Mahasiswa melakukan bakti sosial untuk menggalang dana Covid-19
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item>
          <ion-row>
            <ion-col size="3">
              <img width="100%" src="assets/gggg.jpg">
            </ion-col>
            <ion-col size="9">
              <ion-text>
               Harga sembako melambung tinggi dampak dari Covid-19
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-item>

      </ion-list>
   
</ion-content>
